@model Application.ViewModels.vmCalibrationCamera

@{
    Layout = "_Layout";
    ViewData["Title"] = "Calibration";
}

<style>
    .camera-container {
        height: 600px;
        border: 1px solid #ccc;
        background-color: #eee;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
        border-radius: 5px;
    }

    .camera {
        width: 80%;
        height: 80%;
        background-color: #aaa;
        border-radius: 5px;
    }

</style>

<div class="row">
    <div class="col-md-8">
        <div class="col-md-10">
            <div class="camera-container d-flex justify-content-center align-items-center">
                <div class="camera"></div>
            </div>
            <div class="card" style="background-color: #bdbcbc; margin-right:20px;">
                <div class="text-center">
                    <h4>X - Y</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 mx-auto my-auto">
        <div class="row text-center">
            <h3>Delta</h3>
        </div>
        <form method="post">
            <div class="row text-center">
                <div class="col-md-6 ">
                    <div class="form-group">
                        <img class="img" height="35px" src="~/imgs/deltax.png" title="X" />
                        <input asp-for="DeltaX" type="number" class="form-control" />
                        <span asp-validation-for="DeltaX" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="form-group">
                        <img class=" img" height="35px" src="~/imgs/deltay.png" title="Y" />
                        <input asp-for="DeltaY" type="number" class="form-control" />
                        <span asp-validation-for="DeltaY" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6 mt-4">
                    <div class="form-group">
                        <label asp-for="DeltaZ" class="control-label">DELTA 1</label>
                        <input asp-for="DeltaZ" type="number" class="form-control" />
                        <span asp-validation-for="DeltaZ" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 mt-4">
                    <div class="form-group">
                        <label asp-for="DeltaZZ" class="control-label">DELTA 2</label>
                        <input asp-for="DeltaZZ" type="number" class="form-control" />
                        <span asp-validation-for="DeltaZZ" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mt-3 text-center">
                    <div class="form-group">
                        <input type="submit" class="btn btn-info btn-lg" value="Calibrar" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
