@model Application.ViewModels.vmLoginUser

@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - Janus Automation</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link href="~/css/layoutloginregister.css" rel="stylesheet" />
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <h3 class="navbar-brand text-white"><b>Anti-Sway</b></h3>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="User" asp-action="Register">Register</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    
    <main class="pb-3">
        <div class="vh-100">
            <div class="container-fluid h-custom">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-md-9 col-lg-6 col-xl-5">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid" alt="Sample image">
                    </div>

                    <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                        <form method="post">

                            <div data-mdb-input-init class="form-group form-outline mb-4">
                                <label class="form-label" asp-for="UserName">Username or email</label>
                                <input class="form-control form-control-lg" asp-for="UserName" type="text"
                                       placeholder="Enter a email or username address" required />
                            </div>

                            <div data-mdb-input-init class="form-group form-outline mb-3">
                                <label class="form-label" asp-for="Password">Password</label>
                                <input class="form-control form-control-lg" asp-for="Password" type="password"
                                       placeholder="Enter password" required />
                            </div>

                            <div class="d-flex justify-content-between align-items-center">
                                <a href="#!" class="text-body">Forgot password?</a>
                            </div>

                            <div class="text-center text-lg-start mt-4 pt-2">
                                <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg"
                                        style="padding-left: 2.5rem; padding-right: 2.5rem;">
                                    Login
                                </button>
                                <p class="small fw-bold mt-2 pt-1 mb-0">
                                    Don't have an account? <a asp-action="Register" asp-controller="User" class="link-danger">Register</a>
                                </p>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer">
        <div class="container">
            <span>© 2024 Your Company. All rights reserved.</span>
        </div>
    </footer>
</body>
</html>
